<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="bag_image_publisher"
        args="load whycon_whycode_localization/BagImagePublisherNodelet nodelet_manager">
    <param name="bag_path" value="/root/libraries/whycon_stuff/2025-07-19-10-10-42.bag"/>
    <param name="image_topic" value="/color/image_raw"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="whycon_nodelet"
        args="load whycon_whycode_localization/WhyconNodelet nodelet_manager"/>
</launch>