<launch>
  <!-- Arguments -->
  <arg name="nodelet" default="true" doc="Set to true to run as nodelet, false for normal node"/>
  <arg name="config_file" default="$(find whycon_whycode_localization)/config/whycon_config_rs.yaml"/>
  <arg name="image_view" default="false" doc="Set to true to launch image_view node"/>

  <!-- WhyCon as nodelet or normal node -->
  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="whycon_nodelet" args="load whycon_whycode_localization/WhyconNodelet nodelet_manager" output="screen">
      <param name="config_file" value="$(arg config_file)"/>
    </node>
  </group>

  <group unless="$(arg nodelet)">
    <node name="whycon" pkg="whycon_whycode_localization" type="whycon" output="screen">
      <param name="config_file" value="$(arg config_file)"/>
    </node>
  </group>

  <!-- Optional: Image viewer -->
  <group if="$(arg image_view)">
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
      <remap from="image" to="/whycon/image_out"/>
      <param name="autosize" value="true"/>
    </node>
  </group>
</launch>
<!-- 
  <group unless="$(arg nodelet)">
    <node name="whycon" pkg="whycon_whycode_localization" type="whycon" output="screen" launch-prefix="gdb ex=run args">
      <param name="config_file" value="$(arg config_file)"/>
    </node>
  </group> -->
